body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(pngwing2.com.png);
    color: black;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    text-shadow:0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px 0;
}

h1 {
    margin: 0;
}

.section {
    padding: 50px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.left-side {
    flex: 1;
    text-align: left;
}

#name {
    font-size: 2em;
    color: blue;
    margin: 0;
    animation: slide-in 3s ease-out forwards;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.right-side {
    flex: 1;
    text-align: center;
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(76, 136, 239, 0.1);
    border: 7px solid; 
    border-image: linear-gradient(to right, gray, rgb(79, 130, 238), rgb(149, 247, 149)); 
    border-image-slice: 2; 
    object-fit: cover; 
}


button {
    
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: rgb(12, 234, 41);
    border-radius: 15px;
    
}

button:hover {
    background-color: #0056b3;
}

.details-content {
    text-align: left;
    max-width: 800px;
    margin: auto;
}

footer {
    margin-top: 20px;
}

footer button {
    margin: 5px;
}
